<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<script>
    function fadeIn() {
        console.log("Hello")

        setTimeout(() => {
            var heroText = document.getElementById("hero-text");
            heroText.className = "animate";
            heroText.style.opacity = 1;
            // const heroLogo = document.getElementById("hero-logo");
            // heroLogo.className = "animate";
            // heroLogo.style.opacity = 1;
        }, 2500)
    } 
</script>

<body class="home">
    <container>
        <row id="logo-shell">
            <object id="hero-logo" type="image/svg+xml" data="assets/lir logo vector_ani.svg" onload=fadeIn()></object>
            <!-- <img id="hero-logo" src="assets/lir logo vector_ani.svg" alt="Lir Theraputics Logo"> -->
            <p id="hero-text">
                Lir Therapeutics is taking the next leap forward in
                gene therapy vector engineering
            </p>


        </row>


    </container>
    <div id="homepage-footer">
        <p>
            Reach out: <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
    </div>
</body>

</html>